*{
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
}
h1{
    color: magenta;
    font-weight: bolder;
    font-family: cursive;
    text-decoration: underline;
    text-align: center;
    text-shadow: 3px 3px 12px 2px black;
}
p{
    text-align: center;
    padding: 3%;
    background-color: wheat;
}